@page
@model FormWizard.Pages.MyForms.DeleteModel
@{
}


<div class="container-xxl py-5">

    <form method="post">
        <input hidden asp-for="myForm.Id" />
        <div>
            <input asp-for="myForm.Name" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </form>
</div>