@page
@model FormWizard.Pages.QuestionOptions.DeleteModel
@{
}

<div class=class="container-fluid p-0">
	<br/>
	<br/>
	<h3 class="h3 d-inline align-middle">Delete Option</h3>
	<br/>
	<br/>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <input hidden asp-for="questionOption.Id" />
                        <input hidden asp-for="@(ViewData["MyFormId"])" />
                        <div class="border p-3 mt-4">
                            <div asp-validation-summary="All"></div>
                            <div class="mb-3">
                                <input asp-for="questionOption.OptionText" disabled class="form-control" />
                            </div>
                             <div class="row justify-content-end">
							    <div class="col-md-auto">
                                     <a asp-page="Index" asp-route-questionid="@(ViewData["QuestionId"])" asp-route-questiontype="@Model.questionOption.OptionType" asp-route-myformid="@(ViewData["MyFormId"])" class="btn btn-light bg-white btn-sm">Back</a>    
                                             &nbsp
                                     <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                 </div>
                             </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
