@page
@model FormWizard.Pages.QuestionOptions.EditModel
@{
}

<div class="container-fluid p-0">
    <br />
    <br />
    <h3 class="h3 d-inline align-middle">New Option</h3>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <input asp-for="questionOption.Id" hidden />
                        <input asp-for="questionOption.QuestionId" hidden />
                        <div class="border p-3 mt-4">
                            <div class="mb-3">
                                <label asp-for="questionOption.OptionText"></label>
                                <input asp-for="questionOption.OptionText" class="form-control" />
                                <span asp-validation-for="questionOption.OptionText" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="questionOption.OptionType"></label>
                                <input asp-for="questionOption.OptionType" readonly="true" class="form-control" />
                                <span asp-validation-for="questionOption.OptionType" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="questionOption.OptionValue"></label>
                                <input asp-for="questionOption.OptionValue" class="form-control" />
                                <span asp-validation-for="questionOption.OptionValue" class="text-danger"></span>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-md-auto">
                                    <a asp-page="Index" asp-route-questionid="@Model.questionOption.QuestionId"
                                                        asp-route-questiontype="@Model.questionOption.OptionType" 
                                                        asp-route-myformid="@ViewData["MyFormId"]" 
                                                        class="btn btn-light bg-white btn-sm">Back</a>
                                    &nbsp
                                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>